/* Styles for Image Grid */
.image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Display three images per row */
  gap: 20px -30px; /* Adjust the gap between images */
  grid-row-gap:-30px; /* Set row gap to 0 */
  overflow: none;
}

.image-card {
  position: relative;
  
  cursor: pointer;
  overflow: hidden;
  
  width: 100%;
  padding: 30px;
}
.image-card {
  touch-action: none;
}



.tags {
  display: flex;
  
  flex-wrap: wrap;
  margin-top: 8px;
  padding: 4px;
  
}

.tag {
  
  color: #333;
  font-size: 12px;
  padding: 2px 6px;
  margin-right: 4px;
  margin-bottom: 4px;
  border-radius: 2px;
}

/* Skeleton Loader Styles */


.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
 
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  /* background-color: #bbb; */
  color: black;
}

.flip-box-back {
  background-color: #555;
  color: white;
  transform: rotateY(180deg);
}

.loading-spinner {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  border-radius: 8px;
  height: 800px; 
  width: 100%;
  margin-bottom: 16px;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@media screen and (max-width: 768px) {
  .image-gallery {
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    

  }
  .image-card{
    width: 90%;
    
    
   
  }
  .image-card .card-img-top {
    
 width: 100%;
 object-fit:cover;
  }
 
  .flip-box{
    width: 100%;
  }
}